

#vmNavDropdown:hover #vmNavDropdownMenu {
	display: block;
}

#vmFooter {
	height: 5%;
	opacity: 0.8;
	bottom: 0;
	/* position: fixed; */
	display: block;
}

#vmBgVideoDiv {
	position: relative;
	background-color: black;
	height: 100%;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}

#vmBgVideo {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#vmBgVideoContainer {
	position: relative;
	z-index: 2;
}

#vmBgVideoOverlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

#vmSignInForm {
	height: 100%;
	overflow: auto;
}

#vmSignInFormPaper {
	width: 65%;
	border: solid white 1px;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 10px;
}

#vmUploadForm {
	background: #eeeeee;
}

#vmUploadFormPaper {
	width: 60%;
	border: solid white 1px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
}

#vmEditDiv {
	height: 88%;
}

#vmEdit2Div {
	height: 88%;
}

#vmEdit3Form {
	display: block;
	background: #eeeeee;
	/* height: 100%; */
}

#vmEdit3FormDiv {
	position: relative;
	top: 2%;
}

#vmEdit3FormPaper {
	width: 60%;
	border: solid white 1px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
}

#vmDeleteDiv {
	height: 88%;
}

#vmChangePassForm {
	background: #eeeeee;
	height: 88%;
	overflow: auto;
}

#vmChangePassFormPaper {
	width: 60%;
	border: solid white 1px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
}
