#bgVideoDiv {
	position: relative;
	background-color: black;
	height: 100%;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}

#bgVideo {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#bgVideoContainer {
	position: relative;
	z-index: 2;
}

#bgVideoOverlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

#signInForm {
	/* background: #222 url('../../image/bgSample.jpg') center center no-repeat;
	background-size: cover; */
	height: 100%;
	overflow: auto;
}

#signInFormPaper {
	width: 65%;
	border: solid white 1px;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 10px;
}

#registerForm {
	/* background: #222 url('../../image/bgSample.jpg') center center no-repeat;
	background-size: cover; */
	height: 100%;
	overflow: auto;
}

#registerFormPaper {
	width: 65%;
	border: solid white 1px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
}

#forgetPassForm {
	/* background: #222 url('../../image/bgSample.jpg') center center no-repeat;
	background-size: cover; */
	height: 100%;
	overflow: auto;
}

#forgetPassFormPaper {
	width: 65%;
	border: solid white 1px;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 10px;
}
